language: android
jdk: oraclejdk7

android:
  components:
    - android-23
    - build-tools-23.0.2 

script: 
    - echo "Travis branch is $TRAVIS_BRANCH"
    - echo "Travis branch is in pull request $TRAVIS_PULL+REQUEST"
    - ./gradlew assembleRelease --info
