language: android
jdk: oraclejdk7

android:
  components:
    - tools
    - build-tools-23.0.1
    - android-23
    - extra-android-m2repository

script: 
    - echo "Travis branch is $TRAVIS_BRANCH"
    - echo "Travis branch is in pull request $TRAVIS_PULL+REQUEST"
    - ./gradlew assembleRelease --info
